/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

header {
  height: 280px;
  background-color: #1c5380;
}

.container {
  width: 858px;
  margin: auto;
  margin-top: -170px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.left {
  float: left;
}

.right {
  float: right;
  width: 500px;
}

.login {
  float: right;
  margin-top: 20px;
  background: linear-gradient(#2e6593, #1d5c93);
  border: 1px solid black;
  border-radius: 2px;
  padding: 8px 8px;
  color: white;
}

span {
  margin-left: 5px;
  position: relative;
  bottom: 5px;
  font-size: 15px;
}

section {
  background: url("../img/frame.png") no-repeat;
  padding: 15px 40px 10px 55px;
}

h1 {
  color: #06365f;
  font-size: 29px;
}

.foot {
  clear: both;
  text-align: center;
}

ul li {
  display: inline;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px;
  clear: both;
  text-align: center;
  color: #1c5380;
  text-decoration: none;
}
